#device-block {
  position: fixed;
  inset: 0;
  background: linear-gradient(135deg, #cce7ff, #f3e8ff);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99999;
  text-align: center;
  font-family: Arial, sans-serif;
}

#device-block h1 {
  font-size: 3vw;
  color: #4b2e83;
}

#device-block p {
  font-size: 1.5vw;
  color: #333;
  max-width: 600px;
}

#focus-block {
  position: fixed;
  inset: 0;
  background: rgba(20, 20, 40, 0.85);
  color: white;
  display: none;
  z-index: 100000;
  font-family: Arial, sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  pointer-events: all;
}

#focus-block h2 {
  font-size: 3vw;
  margin-bottom: 2vh;
}

#focus-block p {
  font-size: 1.5vw;
}

#game-area,
#overlay,
#maze {
  pointer-events: none;
}




/* Centering game content */
#fidrat-home {
  margin: 0;
  overflow: hidden;
  background-color: rgb(174, 237, 245);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 80px;
}



html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  zoom: normal;
}


/* #vv{
  width:15%;
  height:24%;
  position: absolute;
  top: 3vh;
  right: 50px;
  /* top: 3vh;
  left: 35px; */

/* }  */

/* #ie{
  width:15%;
  height:24%;
  position: absolute;
  top: 3vh;
  left: 35px;
  /* top: 3vh;
  right: 50px; */

/* }  */

/* #prem{
  width: 300px;
  height: 400px;
  position: absolute;
  top: 300px;
  left: 80px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#shanti{
  width: 300px;
  height: 400px;
  position: absolute;
  top: 300px;
  right: 80px;
  border-radius: 28px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    */
/* }   */

#vv {
  width: 10vw;
  /* 15% of the viewport width */
  height: 18vh;
  /* 24% of the viewport height */
  position: absolute;
  top: 3vh;
  right: 13vw;
  /* Adjusted to viewport width */
}

#ie {
  width: 9vw;
  height: 16vh;
  position: absolute;
  top: 3vh;
  left: 15vw;
  /* Adjusted to viewport width */
}

#prem {
  width: 18vw;
  /* Adjusted to viewport width */
  height: 46vh;
  /* Adjusted to viewport height */
  position: absolute;
  top: 33vh;
  /* Adjusted to viewport height */
  left: 23vw;
  /* Adjusted to viewport width */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#shanti {
  width: 18vw;
  /* Adjusted to viewport width */
  height: 46vh;
  /* Adjusted to viewport height */
  position: absolute;
  top: 33vh;
  /* Adjusted to viewport height */
  right: 19vw;
  /* Adjusted to viewport width */
  border-radius: 2vw;
  /* Border radius also adjusted to viewport width */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}



#game-title {
  position: absolute;
  font-size: 5vw;
  /* font-size: 78px;  */
  color: brown;
  text-align: center;
  position: absolute;
  top: 14vh;
  text-transform: uppercase;
  font-family: 'Arial', sans-serif;
  letter-spacing: .5vw;
  text-shadow: 2px 2px 4px rgba(13, 11, 11, 0.6);
  align-self: center;
}



#start-button {
  position: absolute;
  font-size: 2vw;
  background-color: #6db3e2;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, .5);
  top: 55vh;

  align-self: center;
  padding: 20px 20px;
  /* Add padding for better visual appearance */
  border: none;
  /* Remove border */
  cursor: pointer;
  /* Change cursor to pointer when hovering over the button */
}

#start-button:hover {
  background-color: rgb(253, 253, 253);
  /* Change background color on hover */
  color: #afdbf8;
  /* Change text color on hover */
}


#para {
  position: absolute;
  font-size: 3vw;
  /* font-style: oblique; */
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(13, 11, 11, 0.5);
  color: rgb(68, 77, 198);
  top: 1vh;
  /* align-self: center; */
  z-index: -1;
}

#para1 {
  position: absolute;
  font-size: 2vw;
  font-style: oblique;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(13, 11, 11, 0.3);
  color: green;
  top: 11vh;
  /* align-self: center; */
  z-index: -1;
}

#fidrat-home {
  background-image: url("./Images/Common_Images/bg2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  /* left: 30vw;
  top: 45vh; */
  width: 100%;
  height: 100%;
  background-color: rgba(36, 35, 36, 0.8);
  filter: blur(0);
}

.blur-background {
  filter: blur(7px);
  /* Adjust the blur amount as needed */
}



.modal-content1,
.instruction-content {
  text-align: center;
  font-size: 3vw;
  background-color: rgb(201, 177, 246);
  padding: 2px;
  /* border: 1px solid #888; */
  width: 60vw;
  border-radius: 85px;
  /* Optional: Adds rounded corners for a smoother look */
  margin-top: 45vh;
  margin-right: 10vw;
  margin-left: 20vw;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, .5);
  backdrop-filter: blur(4px);

}

.modal-content {
  margin-right: 10vw;
  margin-left: 45vw;

}

/* #instruction-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
} */

/* #start-level2-button {
 bottom: 20vh;
 margin:0;

} */


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#game-area {
  position: relative;
  width: 100%;
  /* Fill the entire width of the screen */
  height: 100%;
  /* Fill the entire height of the screen */
  overflow: hidden;
}


#basket {
  height: 14vh;
  width: 6vw;
  display: none;
  user-select: none;
  position: absolute;
  bottom: 20px;
  top: 40px;
  /* Adjust the top position */
  left: 60px;
  /* Adjust the left position */
  z-index: 9;
}

#basket>img {
  height: 14vh;
  width: 6vw;
}



.obstacle {
  position: absolute;
  background-image: url("Images/Dream_Drop/obstacle.png");
  background-repeat: repeat;
  z-index: 1;
  /* Ensure obstacles are in front of the maze */
}


#score {
  position: absolute;
  display: none;
  top: 20px;
  /* Adjust as needed */
  right: 250px;
  /* Adjust as needed */
  font-size: xx-large;
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#time {
  position: absolute;
  display: none;
  top: 20px;
  /* Adjust as needed */
  right: 100px;
  /* Adjust as needed */
  font-size: xx-large;
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.ball {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url('Images/Dream_Drop/ball1.png');
  /* Assuming the initial frame is 'ball1.png' */
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  cursor: grab;
  touch-action: none;        /* critical for touchpads */
  user-select: none;
  -webkit-user-drag: none;
  cursor: pointer;
  z-index: 10;
}

/* Styling for the modal */
.over {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.game {
  background-color: rgb(238, 217, 250);
  border-radius: 80px;
  margin: 25% auto;
  padding: 2px;
  /* border: 5px solid #dba0f2; */
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, .5);
  width: 45%;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 85px;
  /* Make the text bold */
  font-size: 30px;
  position: relative;
}

.left-image,
.right-image {
  position: absolute;
  top: 25%;
}

.left-image {
  left: 2vh;
  height: 58vh;
  width: 30vw;
}

.right-image {
  right: 2px;
  height: 58vh;
  width: 30vw;
}

#gameOver {
  position: fixed;
  top: 2%;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
  user-select: none;
  /* Prevent text selection */
  box-shadow: 0 19px 38px #866d854d, 0 15px 12px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(5px);
  background-color: rgba(27, 27, 27, 0.5);
  z-index: 999;
  /* Ensure the game over modal appears above other elements */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black overlay */
  z-index: 998;
  /* Ensure the overlay appears below the game over modal */
}

#restartBtn,
#quitBtn,
#next {
  display: block;
  margin: 15px auto;
  /* Center the buttons horizontally */
}

/* Styling for buttons */
button {

  box-sizing: border-box;
  appearance: none;
  background-position: center;
  backdrop-filter: blur(10px);
  border: .5vh solid #afdbf8;
  border-color: #afdbf8;
  color: #000000;
  border-radius: 85vh;
  box-shadow: 0 0 40px 40px #afdbf8 inset, 0 0 0 0 #afc7f8;
  transition: all 150ms ease-in-out;
  border-radius: 0.6em;
  cursor: pointer;
  font-size: 1.5vh;
  font-weight: 400;
  width: 10vw;
  line-height: 1;
  margin: 2vh;
  padding: 2.5vh 3.5vh;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-top: 4vh;
}

button:hover {
  box-shadow: 0 0 10px 0 #afdbf8 inset, 0 0 10px 4px #afdbf8;
  color: #afdbf8;
  outline: 1;
  color: #000000;
}


.container1 {
  position: absolute;
  width: 1vw;
  height: 3.8vh;
  color: #666;
  z-index: 1000;
}

.hidden {
  position: absolute;
  left: -100px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  display: none;
}

.slider {
  position: absolute;
  top: 1vh;
  left: 1vw;
  width: 3.5vw;
  height: 3vh;
  border-radius: 30vh;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 3vh;
  width: 1.5vw;
  right: 0vw;
  bottom: 0vh;
  background: #fff;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0 0 3px gray;
}

#audio_setting:checked+.slider {
  background: #fce1e4;
}

#audio_setting:not(:checked)+.slider {
  background: #e38792;
}

#audio_setting:not(:checked)+.slider:before {
  right: 2vw;
}

.container1 .audio_icon {
  position: absolute;
  top: 100vh;
  right: 100vw;
}

.container1 .audio_icon:hover {
  color: salmon;
}

.container1 #audio_icon_off {
  top: 0vh;
  right: 1vw;
  width: 3vw;
  height: 5vh;
  cursor: pointer;
}

.container1 #audio_icon_on {
  top: 0vh;
  left: 6vw;
  width: 3vw;
  height: 5vh;
  cursor: pointer;
}

.buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-top: 9vh;
  position: absolute;
  left: 82vh;
  top: 30vh;
}

.buttons>button {
  font-size: 2.5vh;
}

#easyBtn {

  top: 3vh;
  width: 15vw;
  margin-bottom: 2vh;
  position: absolute;
}

#mediumBtn {

  top: 15vh;
  width: 15vw;
  margin-bottom: 2vh;
  position: absolute;
}

#hardBtn {
  top: 27vh;
  width: 15vw;
  margin-bottom: 2vh;
  position: absolute;
}




.itemsInMenu>img {
  width: 5vw;
  height: 10vh;
  overflow: hidden;
  position: relative;
  padding-bottom: 5vh;
}

/*
#menu{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 998;
}

.itemsInMenu{
  color: white;
  position: absolute;
  top: 20vh;
  font-size: 3vh;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  height: min-content;
  width: 100%;
  align-items: center;
  justify-items: center;
}

#copy{
  font-size: 2.5vh;
}
#copy > a{
  text-decoration: none;
  color: white;
}

#exit-cross{
  width: 4vw;
  height: 8vh;
  overflow:hidden;
  position: absolute;
  user-select: none;
  top: -18vh;
  left: 94vw;
}

.topmargin{
  margin-top: 20vh;
}

#profile{
  width: 4vw;
  height: 8vh;
  overflow: hidden;
  position: absolute;
  left: 94vw;
  top: 2vh;
  user-select: none;
  cursor: pointer;

}*/

#Basketvideo {
  display: none;
  position: absolute;
  z-index: 1000;
  top: 10vh;
  user-select: none;
  width: 20vw;
  height: 20vw;
}

#tryvideo {
  display: none;
  position: absolute;
  z-index: 1000;
  top: 10vh;
  width: 20vw;
  height: 20vw;
}

.ball:active {
  cursor: grabbing;
}

.ball {
  cursor: grab;
  touch-action: none;
}

.ball.level1 {
  cursor: pointer;
}

/* Reduce the visual 'spin' effect: ensure background-size and no rotation */
.ball {
  transition: transform 150ms linear;
  will-change: left, top;
}

/* Optional: slightly larger hit area for easier touch on mobile */
.ball {
  min-width: 56px;
  min-height: 56px;
}

/* Slow animations for obstacles (if any) */
.obstacle {
  pointer-events: none;
}

@keyframes drop-animation1 {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.drop-animation {
  animation: drop-animation1 1.5s ease forwards;
  pointer-events: none;
  /* prevent further dragging during animation */
}

